$regular: "Roboto-Regular", sans-serif;
$light: "Roboto-light", sans-serif;
$condensed: "Roboto-Condensed", sans-serif;
$arial: 'Arial', sans-serif;

$bankColor: #0c1862;
$bankColorAlpha: rgba(12, 24, 98, 0.1);
$bankColorAlphaB: rgba(12, 24, 98, 0.8);
$white: #FFFFFF;
$black: #000000;